{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<script>
  function myfun(){
    document.getElementById("sem").style.display="none";
    document.getElementById("Year").style.display="block";
  }
  </script>
<body onload="myfun()">
<center>
  <div class="card" style="width:40rem;padding:0px;margin:10px">
<form action='' method="post">

   {% csrf_token %}

   <div class="card-body">
  <div class="container">


		<div class="col-md-12 mb-3">
      <label for="validationDefault01">Name</label>
      <input type="text"  name='name' class="form-control" id="validationDefault01" placeholder="Full Name" maxlength = "30" onkeypress="return /[a-zA-z ]/i.test(event.key)"   required>
		</div>
    <div class="col-md-12 mb-3 form-group">
    <label for="validationDefault01">Gender</label>
    <select name="gender" class="form-control">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other"> other </option>
</select>
</div>

    <!-- <input type="radio" name="male" value="male" checked> Male<br>
  <input type="radio" name="female" value="female"> Female<br>
  <input type="radio" name="other" value="other"> Other<br>
   -->
  	<div class="col-md-12 mb-3">
        <label for="validationDefault01">Date of Birth</label>
 <input type="date" class="form-control "name="dob"></div>


    <div class="col-md-12 mb-3">
      <label for="validationDefault02">Father Name</label>
      <input type="text" name="fname" class="form-control" id="validationDefault02" placeholder="Father name"  maxlength = "30" onkeypress="return /[a-zA-z ]/i.test(event.key)"   required>
    </div>



		<div class="col-md-12 mb-3">
      <label for="validationDefault02">Mother Name</label>
      <input type="text" name="mname" class="form-control" id="validationDefault02" placeholder="Mother name"  maxlength = "30" onkeypress="return /[a-zA-z ]/i.test(event.key)"   required>
    </div>


  <div class="col-md-12 mb-3">
    <label for="validationDefault02">Roll number</label>
    <input type="number" name="rnumber" class="form-control" id="validationDefault02" placeholder="Roll number"  required>
  </div>


<script>
function hidefunction(){
  if(document.getElementById("Year").style.display=="block"){
      document.getElementById("sem").style.display="block";
  document.getElementById("Year").style.display="none";
  }
  else{
    document.getElementById("sem").style.display="none";
    document.getElementById("Year").style.display="block";
  }
}
</script>
<div class=" form-group">
  <div class="col-md-12 mb-3 form-group">
  <label>Select type</label>
<select name="year" class= "form-control"onchange="hidefunction()" >
<option value="year">Year</option>
<option value="sem">Semester</option>
</select>
</div>
</div>
<div  class="container" id='Year'>
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Year of study</label>
	<select  name="year" class="form-control">
	<option value=""></option>
	<option value="1">1 Year</option>
	<option value="2">2 Year</option>
	<option value="3">3 Year</option>
</select>
</div>
</div>

<div class="container" id="sem">
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Semester</label>
	<select name="sem" class="form-control">
	<option value=""></option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
</select>
</div>
</div>

    <div class="col-md-12 mb-3">
      <label for="validationDefault03">Address</label>
      <input type="text" name="address" class="form-control" id="validationDefault03" placeholder="Address" required>
    </div>

   <div class="col-md-12 mb-3">
     <label for="validationDefault03">College</label>
     <input type="text" name="college" value="vrg girls college" class="form-control" id="validationDefault03" placeholder='vrg girls college' readonly>
   </div>



 <div class="col-md-12 mb-3">
   <label for="validationDefault02">branch</label>
   <input type="text" name="branch" class="form-control" id="validationDefault02" placeholder="branch"  required>
 </div>



<div class="col-md-12 mb-3">
  <label for="validationDefault02">Session</label>
  <input type="text" name="session" class="form-control" id="validationDefault02" placeholder="Session"  required>
</div>


<div class="form-group">
<div class="col-md-12 mb-3">
  <label for="validationDefault02">Student Type</label>

	<select name="stype" class="form-control" required>
	<option value="Regular">Regular</option>
	<option value="private">private</option>
</select>
</div>
</div>

<div class="form-group">
<div class="col-md-12 mb-3">
  <label for="validationDefault02">Student Status</label>
	<select name="sstype" class="form-control" required>
	<option value="Regular">Regular</option>
	<option value="supplementary">supplementary </option>
        <option value="EX">EX</option>
        <option value="ATKT">ATKT</option>
</select>
</div>
</div>

  <button class="btn btn-primary" type="submit">Submit form</button>
</div>
</div>
</form>
</div>
</center>
</body>
</html>
{% endblock content %}
