{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<script>
  function myfun(){
    document.getElementById("sem").style.display="none";
    document.getElementById("Year").style.display="block";
		document.getElementById("Regular").style.display="block";
		document.getElementById("Private").style.display="none";
  }
  </script>
<body onload="myfun()">
<center>
  <div class="card" style="width:40rem;padding:0px;margin:10px">
<form action='' method="post">

   {% csrf_token %}

   <div class="card-body">


		<div class="col-md-12 mb-3">
      <label for="validationDefault01">Name</label>
      <input type="text"  name='name' class="form-control" id="validationDefault01" placeholder="Full Name" onkeypress="return /[a-zA-z ]/i.test(event.key)"   required>
		</div>


    <div class="col-md-12 mb-3">
      <label for="validationDefault02">Father Name</label>
      <input type="text" name="fname" class="form-control" id="validationDefault02" placeholder="Father name"  onkeypress="return /[a-zA-z ]/i.test(event.key)"   required>
    </div>

  	<div class="col-md-12 mb-3">
        <label for="validationDefault01">Date of Birth</label>
 <input type="date" class="form-control "name="dob"></div>




  <div class="col-md-12 mb-3">
    <label for="validationDefault02">Roll number</label>
    <input type="number" name="rnumber" class="form-control" id="validationDefault02" placeholder="Roll number"  required>
  </div>


<script>
function hidefunction(){
  if(document.getElementById("Year").style.display=="block"){
			document.getElementById("yy").selectedIndex=0;
      document.getElementById("sem").style.display="block";
  document.getElementById("Year").style.display="none";
  }
  else{
			document.getElementById("ss").selectedIndex=0;
    document.getElementById("sem").style.display="none";
    document.getElementById("Year").style.display="block";
  }
}
function changefunction(){
if(document.getElementById("Regular").style.display=="block"){
	document.getElementById("rr").selectedIndex=0;
 document.getElementById("Private").style.display="block";
document.getElementById("Regular").style.display="none";
}
else{
	document.getElementById("pp").selectedIndex=0;
document.getElementById("Private").style.display="none";
document.getElementById("Regular").style.display="block";
}
}
</script>
<div class=" form-group">
  <div class="col-md-12 mb-3 form-group">
  <label>Select type</label>
<select name="dontneed" class= "form-control"onchange="hidefunction()" >
<option value="year">Year</option>
<option value="sem">Semester</option>
</select>
</div>
</div>
<div id='Year'>
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Year of study</label>
	<select  name="year" id="yy" class="form-control">
	<option value=""></option>
	<option value="1">1 Year</option>
	<option value="2">2 Year</option>
	<option value="3">3 Year</option>
</select>
</div>
</div>

<div id="sem">
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Semester</label>
	<select name="sem" id="ss" class="form-control">
	<option value=""></option>
	<option value="1">1 Semester</option>
	<option value="2">2 Semester</option>
	<option value="3">3 Semester</option>
	<option value="4">4 Semester</option>
	<option value="5">5 Semester</option>
	<option value="6">6 Semester</option>
</select>
</div>
</div>

   <div class="col-md-12 mb-3">
     <label for="validationDefault03">College</label>
     <input type="text" name="college" value="Vijaya Raje Government Girls PG College" class="form-control" id="validationDefault03" placeholder='Vijaya Raje Government Girls PG College' readonly>
   </div>

 <div class="col-md-12 mb-3">
   <label for="validationDefault02">Branch</label>
<select name="branch" class="form-control">
     <option value=" "> </option>
     <option value="B.A">B.A</option>
    <option value="B.Com">B.Com</option>
    <option value="B.Sc">B.Sc</option>
    <option value="B.H.Sc">B.H.Sc</option>
    <option value="M.A.">M.A.</option>
    <option value="M.Com">M.Com</option>
    <option value="M.Sc">M.Sc</option>
    <option value="M.H.Sc">M.H.Sc</option>

</select>
 </div>
<div class="col-md-12 mb-3">
  <label for="validationDefault02">Session</label>
  <input type="number" name="session" class="form-control" id="validationDefault02" placeholder="Session"  required>
</div>
    <div class=" form-group">
  <div class="col-md-12 mb-3 form-group">
  <label>Select type</label>
<select name="stype" class= "form-control"onchange="changefunction()" >
<option value="regular">Regular</option>
<option value="private">Private</option>
</select>
</div>
</div>
<div  id='Regular'>
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Fee Type</label>
	 <select name="regulartyp" id="rr" class="form-control" required>
  <option value=" "> </option>
	<option value="Regular">Regular</option>
	<option value="Supplementary">Supplementary</option>
	<option value="EX">EX</option>
         <option value="ATKT">ATKT</option>
</select>
</div>
</div>

<div  id="Private">
<div class="col-md-12 mb-3 form-group">
  <label for="validationDefault02">Fee Type</label>
<select name="privatetyp" id="pp" class="form-control" required>
    <option value=" "> </option>
	<option value="Private">Private</option>
	<option value="Supplementary">Supplementary </option>
	<option value="EX">EX</option>
	<option value="ATKT">ATKT</option>
</select>
</div>
</div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</div>
</div>
</center>
</body>
</html>
{% endblock content %}
