{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<head>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea ,input[type=file]{
  width: 100%;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

 .btncss{
  color: white;
  width:200px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  height:40px;
  cursor: pointer;
}


</style>
</head>
<body>
    <br>
<center>
    <div class="card" style="width:60rem;" align="left">
    <center><h3>Contact Form</h3></center>

<div class="card-body">
  <form action="#">
    <label for="fname">Full Name</label>
    <input type="text" maxlength = "30" onkeypress="return /[a-zA-z ]/i.test(event.key)" id="fname" name="fullname" placeholder="Your Name ">
    <label for="fname">Father Name</label>
    <input type="text" maxlength = "30" onkeypress="return /[a-zA-z ]/i.test(event.key)" id="fathername" name="fathername" placeholder="Father Name">
    <label for="lname">Enrollment No.</label>
    <input type="text" maxlength = "15" id="enrollment" name="enrollment" placeholder="Enrollment Number">
    <label for="lname">Email Address</label>
    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" name="email"  placeholder="example@email.com">
    <label for="subject">Subject</label>
    <textarea id="subject" maxlength="2500" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <label for="afiles">Attach Files</label>
    <input type="file" name="pic" accept="image/*">
    <center>
    <br>  <button class="btn btn-primary btncss" type="submit">Submit</button>
    </center>
  </form>
</div>
</div>
</br>
</br>
</center>
</body>

{% endblock content %}
