{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'main/semantic/semantic.css' %}">
<link rel="stylesheet" type="text/css" href="static/main/index.min.css">
<link href="{% static 'main/half-slider.css' %}" rel="stylesheet">
<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
  h6{
    color:#3385ff;
  }
  table , th,td ,tr{
    background-color:#a6a6a6;
    border:1px solid #999999;
  }
</style>
</head>
  <body>


<form action='' method="post">
{% csrf_token %}
<center>
  <div class="container">
<h3>Payment Details</h3>
<br>
<h6 align="left">TRANSACTION DETAILS</h6>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">Application Status:</th>
        <td style="color:red"  colspan="3">Status</td>
      </tr>
      <tr>
        <th scope="row">Application ID:</th>
        <td  colspan="3">{{ student.application_id }}</td>
      </tr>
      <tr>
        <th scope="row">Application Fee:</th>
        <td>{{ student.application_fee }}</td>
        <th scope="row">Portal Fee:</th>
        <td>{{ student.portal_fee }}</td>
      </tr>
      <tr>
        <th scope="row">Late Fee:</th>
        <td>{{ student.late_fee }}</td>
        <th scope="row">GST Tax:</th>
        <td>TAX AMOUNT</td>
      </tr>
      <tr>
          <th scope="row">Total Fee:</th>
          <td  colspan="3">{{ student.total_fee }}</td>
      </tr>
    </tbody>
</table>

<h6 align="left">STUDENT DETAILS</h6>
<table class="table">
    <tbody>
      <tr>
        <th scope="row">College Name:</th>
        <td  colspan="3">Vijaya Raje Government Girls PG College</td>
      </tr>
      <tr>
        <th scope="row">Student Name:</th>
        <td  colspan="3">{{ student.name }}</td>
      </tr>
      <tr>
        <th scope="row">Father's Name:</th>
        <td  colspan="3">{{ student.fname }}</td>
      </tr>
      <tr>
        <th scope="row">Roll Number:</th>
        <td>{{ student.rollno }}</td>
        <th scope="row">Date Of Birth:</th>
        <td>{{ student.dob }}</td>
      </tr>
      <tr>
        <th scope="row">Branch:</th>
        <td>{{ student.branch }}</td>
        <th scope="row">Session:</th>
        <td>{{ student.session }}</td>
      </tr>
      <tr>
        <th scope="row">Year:</th>
        <td>{{ student.year }}</td>
        <th scope="row">Semester:</th>
        <td>{{ student.sem }}</td>
      </tr>
      <tr>
          <th scope="row">Type:</th>
          <td colspan="3">Payment Type</td>
      </tr>
    </tbody>
</table>
  <a href='/paytm/payment?id={{application_id.id}}' class='btn btn-info' style='color:white'> Pay Now </a>
<button class="btn btn-primary" type="submit">Pay now</button>
</div>
</center>
      </form>
</body>
