{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payment time </title>
  </head>
  <body>


<h1>{{ student.name }}</h1>
<h1>{{ student.application_id }}</h1>
<h1>{{ student.late_fee }}</h1>
<h1>{{ student.portal_fee }}</h1>
<h1>{{ student.application_fee }}</h1>
<h1>{{ student.total_fee }}</h1>

<button class="btn btn-primary" type="submit">Pay now</button>

<!-- Application number
Transaction Details
payment status
TransactionID
application Fee
portal Fee
Total Fee
Late fee
Total fee -->



  </body>
</html>
