{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-3">
  <h2>Department of Science</h2>
  <p>here you can see details about the science department</p>

  <!-- Nav tabs -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Botany" role="tab" aria-controls="nav-home" aria-selected="true">Botany</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Biotechnology" role="tab" aria-controls="nav-profile" aria-selected="false">Biotechnology</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#MicroBiology" role="tab" aria-controls="nav-contact" aria-selected="false">MicroBiology</a>
      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#Chemistry" role="tab" aria-controls="nav-home" aria-selected="true">Chemistry</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Mathematic" role="tab" aria-controls="nav-profile" aria-selected="false">Mathematic</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Physics" role="tab" aria-controls="nav-contact" aria-selected="false">Physics</a>
      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#Zoology" role="tab" aria-controls="nav-home" aria-selected="true">Zoology</a>

    </div>
  </nav>
  <!-- Tab panes -->
  <div class="tab-content border" id="nav-tabContent" style="padding:30px;">
  <div class="tab-pane fade show active" id="Botany" role="tabpanel" aria-labelledby="nav-home-tab"><br>
      <h3>Botany Department</h3>

	  <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../images/botany_banner.jpg" alt="" width="760" height="225" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>
            <td class="welcome_text"> The department of Botany was established
in 1958. Post-graduation in Botany was started in 1971, with specialization in Plant-Pathology.
In 1990, two more specializations i.e. Microbiology &amp;amp; Phycology were
added.
At undergraduate level Microbiology was
initially started in combination with Chemistry &amp;
Zoology under self-financing scheme in1999. This combination was later changed to
Chemistry; Microbiology and Botany. The department is running post graduation
course in Microbiology since 2002. 3-months certificate
course on instrumentation and Bonsai. </td>
          </tr>
          <tr>
            <td class="welcome style4">Names of Heads :</td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
              <tr>
                <td width="50" height="25" bgcolor="#FFCC00">&nbsp;<span class="style3"></span>S.No.</td>
                <td width="250" bgcolor="#FFCC00">&nbsp;&nbsp;Name</td>
                <td bgcolor="#FFCC00">&nbsp;&nbsp;Date</td>
              </tr>
              <tr>
                <td width="50" height="25">&nbsp;1.</td>
                <td width="250">&nbsp;&nbsp;Dr. A.K. Gupta </td>
                <td>&nbsp;&nbsp;1984-1992 (Head Deptt. of Biology)</td>
              </tr>
              <tr>
                <td width="50" height="25">&nbsp;2.</td>
                <td width="250">&nbsp;&nbsp;Dr. R.P. Gupta</td>
                <td>&nbsp;&nbsp;1993-1995 (Head Deptt. of Botany)</td>
              </tr>
              <tr>
                <td width="50" height="25">&nbsp;3.</td>
                <td width="250">&nbsp;&nbsp;Dr. N.P. saxena</td>
                <td>&nbsp;&nbsp;1995- Till Date</td>
              </tr>
              <tr>
                <td width="50" height="25">&nbsp;</td>
                <td width="250">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="welcome style4">Self-Finance Subject Run By the Department</td>
          </tr>
          <tr>
            <td><ul>
              <li>BSc- Chemistry, Biotechnology : G.D. Head (2009 - Till Date)</li>
              <li>MSc- Biotechnology</li>
            </ul></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="welcome style4">Infrastructure</td>
          </tr>

          <tr>
            <td class="welcome_text"><ul style="padding-top: 0; margin-top: 0;">
                  <li><strong>LABORATORIES :</strong>
                      <ul>
                        <li>Undergraduate Laboratories 02</li>
                        <li>Postgraduate Laboratories 02</li>
                      </ul>
                  </li>
                  <li>
                    <p> <strong>LIBRARY :</strong> Department has separate library for Botany &amp; Microbiology,
                      with sufficient number of books for P G students. The books are well classified
                      under different heads such as – General Botany, Microbiology, Cytology, Physiology,
                      Taxonomy, Genetics, Ecology, Plant Pathology etc. </p>
                    <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
                      <tr>
                        <td width="50" height="25" bgcolor="#FFCC00">&nbsp;<span class="style3"></span>S.No.</td>
                        <td width="250" bgcolor="#FFCC00">&nbsp;&nbsp;Particulars</td>
                        <td bgcolor="#FFCC00">&nbsp;&nbsp;Quantity</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;1.</td>
                        <td width="250">&nbsp;&nbsp;Total No. of UGC Books </td>
                        <td>&nbsp;&nbsp;50+</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;2.</td>
                        <td width="250">&nbsp;&nbsp;Books (General Fund) </td>
                        <td>&nbsp;&nbsp;150 (UG &amp; PG)</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;3.</td>
                        <td width="250">&nbsp;&nbsp;Journals </td>
                        <td>&nbsp;&nbsp;01</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;</td>
                        <td width="250">&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </li>
                  <li>
                    <p> <strong>MAJOR EQUIPMENT:</strong></p>
                    <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
                      <tr>
                        <td width="50" height="25" bgcolor="#FFCC00">&nbsp;<span class="style3"></span>S.No.</td>
                        <td width="450" bgcolor="#FFCC00">&nbsp;&nbsp;Particulars</td>
                        <td bgcolor="#FFCC00">&nbsp;&nbsp;Quantity</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;1.</td>
                        <td width="450">&nbsp;&nbsp;Camera Lucida</td>
                        <td>&nbsp;03&nbsp;&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;2.</td>
                        <td width="450">&nbsp;&nbsp;PH meter</td>
                        <td> &nbsp;02</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;3.</td>
                        <td width="450">&nbsp;&nbsp;Olympus Research Binocular Microscopes </td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;4. </td>
                        <td>&nbsp;&nbsp;B.D.O.</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;5.</td>
                        <td>&nbsp;&nbsp;Centrifuge</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25"> &nbsp;6.</td>
                        <td>&nbsp;&nbsp;Stereoscopic Microscope</td>
                        <td>&nbsp;04</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;7.</td>
                        <td>&nbsp;&nbsp;Micro Scope</td>
                        <td>&nbsp;55</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;8.</td>
                        <td>&nbsp;&nbsp;Oven</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;9.</td>
                        <td>&nbsp;&nbsp;OHP</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;10.</td>
                        <td>&nbsp;&nbsp;Transullumeter</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;11.</td>
                        <td>&nbsp;&nbsp;Waterbath</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;12.</td>
                        <td>&nbsp;&nbsp;Electrophorm</td>
                        <td>&nbsp;-</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;13.</td>
                        <td>&nbsp;&nbsp;TLC</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;14.</td>
                        <td>&nbsp;&nbsp;Deep Frogel</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;15.</td>
                        <td>&nbsp;&nbsp;Autoclave</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;16.</td>
                        <td>&nbsp;&nbsp;Computer Lab</td>
                        <td>&nbsp;02</td>
                      </tr>
                      <tr>
                        <td height="25">&nbsp;17.</td>
                        <td>&nbsp;&nbsp;Colosmeter</td>
                        <td>&nbsp;01</td>
                      </tr>
                      <tr>
                        <td width="50" height="25">&nbsp;</td>
                        <td width="450">&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </li>
                  <li>
                    <p> <strong>COURSE COMBINATIONS WITH BOTANY</strong></p>
                    <p> UNDERGRADUATE LEVEL</p>
                    <ol>
                      <li>Chemistry, Botany, Zoology (CBZ)</li>
                      <li>Chemistry, Biotech, Botany (CBB)</li>
                    </ol>
                    <p> POSTGRADUATE LEVEL</p>
                    <ol>
                      <li>Biotechnology</li>
                    </ol>
                    <p> The curriculum is </p>
                    <ol>
                      <li>Recommended by Central Board of Studies and approved by HE the Governor of M.P.</li>
                      <li>Board of studies of the Department Biotechnology</li>
                    </ol>
                    <li>
                    <p> <strong>RESEARCH ACTIVITIES:</strong> </p>
                    <ul>
                      <li>One Research Project by MPCOST was completed in July 2009</li>
                      <li>One Minor Research Project by UGC is under process </li>
                      <li>Faculty members awarded Ph.D. Degree:
                        <ol style="font-weight: bold;">
                            <li>Dr. N.P. Saxena - 1990</li>
                          <li>Dr. G.D. Vyas - 1984</li>
                        </ol>
                      </li>
                      <li>The faculty members registered for
                      PhD:<br />
                      <br />
                      </li>
                      <li>Dr. Neelima Raipuria Registered as guide
                      for Ph-D in Botany&nbsp; &amp; Microbiology:<br />
                      <br />
                      </li>
                    </ul>
                    <li>
                    <p><strong>ACTIVITY GROUPS : </strong></p>
                    <ul style="font-weight:normal;">
                      <li>Sir Jagdish Chandra Basu activity club performs various activities throughout the
                        year.</li>
                      <li>One-day workshop on Bonsai Preparation, ( Blood Group testing , BSc ) </li>
                      <li>Workshop on Mushroom cultivation. ( Regularly attended by IV &amp; Vi Sem )</li>
                      <li>Workshop on Food --------------------------</li>
                      <li>State level Environmental Awareness Examination was conducted.</li>
                      <li>Guest lectures on special topics by eminent persons. </li>
                    </ul>
                    <ul style="font-weight: normal; padding-top: 0; margin-top: 0;">
                      <li>
                        <p><strong><font><font>Department Stores:</font></font></strong>Annual departmental stores titled &quot;HARITIMA&quot; is being published with the Contribution of students, staff &amp; other persons from various Institutes.</p>
                      </li>
                      <li>
                        <p><strong>EXCURSION / EDUCATIONAL TOURS / VISITS – Biotechnology</strong><br />
                        Regular visits to Im training Civil Hospital Morar Visit to -- industry of the region like SACHI, JNKUV University , P.R.I. Malanpur<br />
                        Visit to Pharma-- Companies of Gwalior like tewa, dabar, Bhagwat.</p>
                      </li>
                      <li>
                        <p><strong>LIST OF STAFF MEMBERS :</strong></p>
                        <ol style="font-weight:normal;">
                          <li><font><font>Dr. </font>N.P. Saxena - Pro &amp; Head</font></li>
                          <li>Dr. G.D. Vyas - Pro &amp; Head Biotechnology</li>
                        </ol>
                      </li>
                    </ul>
                    <ul style="font-weight:normal; padding-top: 0; margin-top: 0;">
                      <li>
                        <p><strong>LIST OF CLASS III AND IV :</strong></p>
                        <ul>
                          <li>Lab Technician - Shri R.D. Bhargava</li>
                          <li><font><font>Lab Attendant - Shri Janved Singh</font></font></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul></td>
          </tr>
   </table></td>
      </tr>
    </table>
  <!-- InstanceEndEditable --></div>
    </div>
    <div class="tab-pane fade" id="Biotechnology" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Biotechnology</h3>
      <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
<td class="welcome_text">What is Biotechnology?</td>
	   <tr>
              <td class="welcome_text">Bio- Alive or living Technology – The application of Science to Achiever industrial or Commercial objective , Hence Biotechnology in about living material or microbes for commercial or industrial problem.<br><br><br>
</td>
            </tr>
			<br>
			<td class="welcome_text">Area of Biotechnology:</td>
<tr>
              <td class="welcome_text"><ul>
                  <li>Geniture engineering </li>
                <li>Molecular cell biology</li>
                <li>Agriculture Biotechnology</li>
				 <li>Animal biotechnology</li>
				  <li>Plant Biotechnology</li>
				  <li>Human biotechnology</li>
				  <li>Microbial biotechnology</li>
				  <li>Environmental biotechnology</li>
              </ul></td>
            </tr>
            <tr>
              <td height="25"><span class="style2">Biotechnology Tool (To ways Biotechnology is three ways.)</span></td>

			</tr>
            <tr>
              <td class="welcome_text"><ul>
                  <li>Directly running cells</li>
                <li>Using the proteins enzymes made by cells.</li>
                <li>Using genetic material inside cell</li>
                <li>Using stem cell/Diploids in IVF/stem our technology</li>
                <li>Using microbe the plant / chop improvement</li>

              </ul>
</tr>
            <tr>
              <td height="25"><span class="style2">Infrastructure – Laboratories – 03</span></td>
            </tr>
            <tr>
              <td class="welcome_text"><ul>
                <li>Autoclave</li>
                <li>Spectrophotometer</li>
                <li>Laminar air Flow.</li>
                <li>Inoculating chamber</li>
                <li>Incubator, hot air oven</li>
                <li>T.L.C.</li>
				<li>Centrifuge</li>
				<li>Electrophoresis assembly (horizontal & vertical)</li>
				<li>U.V. Transilluminator</li>
				<li>B.O.D. Incubator</li>
				<li>Deep freezer.</li>
				<li>Serological water bath</li>
				<li>Ph meter</li>
				<li>Colorimeter</li>
              </ul>
</tr>
            <tr>
              <td height="25"><span class="style2">Research Blonoculars / mar oculars</span></td>
			  <p>The following equipment are coming very soon in laboratory</p>
            </tr>
            <tr>
              <tr>
              <td class="welcome_text"><ul>
                <li>P.C.R. (Machine)</li>
                <li>Vetoes shaker homogenizer</li>
                <li>Soil water analysis list</li>
                <li>Cultrate cabinet</li>
                <li>Spectropholmeter U.V.</li>
                <li>Refrigerated centrifuge</li>

              </ul>
</tr>
            </tr>

        </table></td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
    </div>
    <div class="tab-pane fade" id="MicroBiology" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Department of Microbiology</h3>

	    <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td style="padding:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="welcome_text">Microbiology was started at under graduate level in 2007. The PG was Started in 2011 and is affiliated to the Jiwaji University.</td>
            </tr>
            <tr>
              <td height="25"><span class="style2">Infrastrucure Of Microbiology</span></td>
            </tr>
            <tr>
              <td class="welcome_text"><ul>
                  <li>Well Equipped laboratory <span class="style3">(One)</span></li>
                <li>Library <span class="style3">With 300 books</span></li>
                <li>Culture Lab <span class="style3">(One)</span></li>
              </ul></td>
            </tr>
            <tr>
              <td height="25"><span class="style2">Major Equipment</span></td>
            </tr>
            <tr>
              <td class="welcome_text"><ul>
                  <li>Laminar air Flow</li>
                <li>Spectrophotometer</li>
                <li>Shaker Oven</li>
                <li>Autoclave</li>
                <li>Double door Refrigerator</li>
                <li>Colony Counte</li>
                <li>Research Microscopes</li>
                <li>Centrifuge.</li>
                <li>Triple Glass distillation Plant</li>
                <li>Low temperature Cabinet for 20 degree Celsius</li>
              </ul>
                  <p>Two months research / Project training is the integral part of M.Sc IV Sem. Which is Conducted at the institutional Lab.</p></td>
            </tr>
            <tr>
              <td height="25"><span class="style2">Research Activities</span></td>
            </tr>
            <tr>
              <td class="welcome_text"><ol>
                  <li>Under Dr. K.C. Gupta one Student Dr. Rekh Barethia has been awarded Ph.D. in the year</li>
                <li>Two students are working as research scholar in zoology</li>
                <li>Four students are working for the Ph.D one has almost complete the experimental work and thesis in writing Process.</li>
              </ol></td>
            </tr>
            <tr>
              <td height="25"><span class="style2">Staff Member of Microbiology</span></td>
            </tr>
            <tr>
              <td class="welcome_text"><ol>
                  <li><strong>Mis. Shweta Chauhan</strong><br />
                    M.Sc. Gold Medalist (Microbiology ) of JU, Gwalior 2006. She is engaged in teaching of PG for two and UG for seven Years.<br />
                    <br />
                  </li>
                <li><strong>Mis Ankita Sharma</strong><br />
                  M.Sc Microbiology (2011). Three Years experience of teaching of UG &amp; two years of PG Classes.<br />
                  <br />
                  </li>
                <li><strong>Mis Rama Sharma</strong><br />
                  M.Sc Microbiology (2011) Two Years experience of teaching of UG and PG Classes.</li>
              </ol></td>
            </tr>

        </table></td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
<div class="foote">
  <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300"><a href="#" target="_blank" style="color:#FFFFFF; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Powered By e-biz technocrats Pvt. Ltd.</a></td>
      <td align="right"><span id="lastModified"></span>
</td>
    </tr>
  </table>
</div>

    </div>
	   <div class="tab-pane fade" id="Chemistry" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Department of Chemistry</h3>
      <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td style="padding:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="welcome_text"><p>Department of chemistry  was establish 1983 along with the commencement of science stream in the college  chemistry was introduced as compulsory subjects for all science students at  undergraduate level.</p>
                <p>With the advent of time  the department has developed a good infrastructure including spacious &amp;  well equipped UG and PG laboratories. The department is also equipped with  smart class and computer internet facility. The total strength of students in  chemistry is approximately 500.</p>
                <p>Presently post graduated  courses are being offered under self finance posts, the department has  maintained its standard in teaching. Research and other academic activities. <br />
              The department receives  regular financial support from UGC and janbhagidari samiti of the college.</p></td>
            </tr>

        </table></td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-top:0px;">
            <span class="style2">Success Growth:-</span>

            <br />
          Chemistry is offered as compulsory  subject in the following group of courses.
          <ul>
          <ul>
            <li>Physics-Maths-Chemistry</li>
            <li>Botany  – zoology- chemistry</li>
            <li>Biotechnology-  Botany – chemistry </li>
            <li>Microbiology  – zoology -  chemistry<br />
              <br />
              <p>* Supports the  teaching of bio chemistry in home science faculty of the college<br />
              * Organization  of national level seminar/workshops
              .</p>
            </li>
          </ul>
          <p>Department has organized a successful  national level training workshop on Low cost instrumentation supported by CPDHE  Delhi (1997)
          <ul><li>National level seminar on Emerging  chemistry technologies supported by UGC (2002)</li>
            <li>Series of Lectures/Instrumentation  training workshop at regional level are conducted regularly.</li>
            <li>International year of chemistry  IYC-2012 was celebrated.</li>
            </ul>
          </p></td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-top:0px;"><span class="style2">New  Courses:-</span>
          <ul>
            <li>Industrial  chemistry was introduced as optional subjects for UG classes 2002</li>
            <li>PG  classes are started under self finance scheme (2011)</li>
          </ul>        </td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-bottom:0px; padding-top:0px;"><span class="style2">Infrastructure:-</span> <br />
        The department of chemistry is at ground floor well equipped  separate laboratories for under graduate and post graduate classes with all  basic facilities including gas line and water supply system.</td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px;"><p><span class="style2">Instrumentation laboratory:-</span><br />
        The instrumentation laboratory is equipped with various  instruments for carrying out experiments pertaining to physical, inorganic and  organic chemistry. The main instruments are as follows:-</p>
          <ul>
            <li>Colorimeter</li>
            <li>Spectrophotometer</li>
            <li>Potentiometer</li>
            <li>Flame  photometer</li>
            <li>Digital  PH meter</li>
            <li>Auto  titrate</li>
            <li>Conductivity  bridge</li>
            <li>Analytical  balance</li>
            <li>Mono  pan balance</li>
            <li>Electronic  balance</li>
            <li>Nitrogen  cylinder</li>
            <li>Electric  oven</li>
            <li>Centrifuge  machine</li>
            <li>Hot  pirate</li>
            <li>Thermostat</li>
            <li>Vacuum  pump</li>
            <li>Malting  point apparatus</li>
            <li>Magnetic  stirrer</li>
            <li>Stop  watches</li>
            <li>Refrigerator</li>
          </ul>        </td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-bottom:0px; padding-top:0px;"><span class="style2">Smart class:-</span><br />
        Interactive gadgets like models,  oven,head projectors, LCD projector are used for effective teaching . Teaching  seminar for PG student are done through power point presentations.</td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px;"><span class="style2">Summary:-</span><br />
          The department library  has been established to cater the needs of post graduate students and faculty  members. More than 300 reference books and textbooks on various branches of  chemistry are industrial chemistry are available.
          <p>Two research journals are  being subscribed by the chemistry department</p>
          <ul>
            <li>Journal  of the Indian chemical society.</li>
            <li>Indian  journal of chemistry</li>
          </ul>        </td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-top:0px;"><span class="style2">Collaboration:-          </span><br />
        The department collaborates with renowned organization in  region.
          <ol>
          <ul>
            <li>Department of chemistry , jiwaji  university, Gwalior </li>
            <li>Defense research and development  establishment (D.R.D.E.) Gwalior.</li>
          </ul>        </td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px; padding-top:0px;"><span class="style2">Faculty:-</span><br />
          No of sanctioned  post = 02<br />
Guest faculty  = 02 (for self finance courses)</td>
      </tr>
      <tr>
        <td class="welcome_text" style="padding:20px;">Dr. Manju koushik                              -           Prof. &amp; Head <br />
          Qualification                                       -           M.Sc., Ph.D.<br />
          Teaching experience                         -           32 years<br />
          Research experience                         -           20 years<br />
          Membership of                                   -           jiwaji university Gwalior<br />
          Academic bodies                               -           science society, jiwaji university<br />
          Participation international                  -           international conference of  environment<br />
          Conferences (past of 05 year)          -           chemistry at Mauritius – 2010<br />
          Other imp participation                      -           training workshop on women empowerment 2011<br />
          Other responsibilities
          <ol>
            <li>Superintendent university exam </li>
            <li>Convener scholarship scheme (UGC) </li>
            <li>Convener pratibha bank </li>
          </ol>
          <p> Dr. Renu Nair                                      -           Assistance professor<br />
            Specialization                                      -           Inorganic professor<br />
          Teaching Experience                          -           20 years<br />
          Research experience                          -           15 years          </p>
          <ol>
            <li>Registered  as Ph.D supervisor in jiwaji university  Gwalior</li>
            <li>Successfully completed two research  projects</li>
            <li>Three students are awarded Ph.D. two  students are registered.</li>
            <li>Research paper published in national  &amp; international journals.</li>
          </ol>
          <p>Membership  with academic bodies   -           life member of Indian chemical  society kolkatta</p>
          <p>Participation  in international conference (past 05 years)</p>
          <ol>
            <li>International conference on  environmental chemistry at Mauritius – 2010</li>
            <li>International conference on  sustainable future of chemistry, jaipur 2012</li>
          </ol>
          <p>Department  programme (past 05 years)       </p>
          <ol>
            <li>entrepreneurship development  programme (2010)</li>
          </ol>
          <p class="style2">other  responsibilities Head </p>
          <ol>
            <li>convener career counseling cell</li>
            <li>Member IQAC Cell.</li>
            <li>Member library committee.</li>
          </ol>
          <p><span class="style2">Supporting  staff :-</span><br />
            Mr. dheeraj  mishra Lab Teacher<br />
      Mr. siyaram  verma Lab Assistant</p></td></tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
<div class="foote">
  <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300"><a href="#" target="_blank" style="color:#FFFFFF; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Powered By e-biz technocrats Pvt. Ltd.</a></td>
      <td align="right"><span id="lastModified"></span>
</td>
    </tr>
  </table>
</div>

    </div>
  <div class="tab-pane fade" id="Mathematic" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Mathematics Department</h3>
      <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td style="padding:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="welcome_text"><p>The Mathematic Department of the  college has two sanctioned posts. Dr. A.V. vinchurkar &amp; P.C. Jatav are the  two professor working in the department the subjects mathematics a ------- only  at the undergraduate level with physic/chemistry/computer science as other two  subjects there are over 300 students admitted in the subject</p></td>
            </tr>

        </table></td>
      </tr>
      <tr>
        <td align="center" style="padding:20px;"><p><img src="../images/math.jpg" alt="" /></p>        </td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
<div class="foote">
  <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300"><a href="#" target="_blank" style="color:#FFFFFF; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Powered By e-biz technocrats Pvt. Ltd.</a></td>
      <td align="right"><span id="lastModified"></span>
</td>
    </tr>
  </table>
</div>
    </div>
	  <div class="tab-pane fade" id="Physics" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Physics Department</h3>
      <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td style="padding:20px; padding-bottom:0px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="welcome_text"><p>There are two santimed posts in the  department. The subject thought only in the undergraduate classes. The department  has two laboration well equipped with the apparatus that are required in the  experiments at undergraduate level.<br />
                <br />
                    <span class="style2">No of students – 300<br />
              Established in - 1983</span></p></td>
            </tr>

        </table></td>
      </tr>
      <tr>
        <td align="left" class="welcome_text" style="padding:20px; padding-top:0px;"><p class="style3">List of Equipments</p>
          <ul>
            <li>Hartley  oscillator</li>
            <li>Band  gap apparatus</li>
            <li>L.C.R.  circuit</li>
            <li>Rectifiers  and filters kit</li>
            <li>Regulated  power supply</li>
            <li>thyratronization  characteristics</li>
            <li>Cathode  ray oscilloscope  </li>
            <li>Digital  millimeter </li>
            <li>V.T.V.M.</li>
            <li>Tangent  galvanometer.</li>
            <li>Charging  and discharging of condense of kit </li>
            <li>Polar  meter</li>
            <li>Spectrometers </li>
            <li>Telescope </li>
            <li>Audio  frequency oscillator</li>
            <li>Measurements  of capacitance</li>
            <li>Study  of decay of cossets in R.C. circuit</li>
            <li>U.J.T.  characteristics.</li>
            <li>e/m  by Johnson method</li>
            <li>overhead  projector</li>
            <li>Color  T.V.</li>
            <li>Stefan’s  constant</li>
            <li>Maxwell  needle</li>
            <li>Barton’s  apparatus</li>
            <li>Solar  slit</li>
            <li>Nodal  slide apparatus</li>
            <li>Deflection  magnetometer </li>
            <li>Torsion  pendulum </li>
            <li>Fly  wheel</li>
            <li>Logic  gates kit</li>
          </ul>        </td>
      </tr>
      <tr>
        <td height="200" align="center" style="padding:20px;"><img src="../images/physlogo.jpg" alt="" width="280" height="280" /></td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
<div class="foote">
  <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300"><a href="#" target="_blank" style="color:#FFFFFF; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Powered By e-biz technocrats Pvt. Ltd.</a></td>
      <td align="right"><span id="lastModified"></span>
</td>
    </tr>
  </table>
</div>


    </div>
	  <div class="tab-pane fade" id="Zoology" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
      <h3>Department of Zoology</h3>
      <div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td style="padding:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="welcome_text"><p><strong>The Department of Zoology</strong> was established in ----. The built up area of the department is ~ --- square meters. The undergraduate Classes are only run by the department . this department has only one teacher.</p>
                <p><strong>Highlights <br />
                </strong>Dr. K.C. Gupta is only the faculty of the department. He is devoted for teaching and research in zoology as well as in microbilogy. He has attended several reseach seminars and has published several research seminars and has published several reseach papers.</p>
                <p>Dr. Gupta has published following books-</p>
                <ol>
                  <li>Reseach Techniques in Biological Sciences An International Publication with bar code ISBN 81-7888-404-6. Publisher - Dominant publisher and distributors Daryaganj N. Delhi 110002.</li>
                  <li>Unified Zoology For B.Sc I sem - Hindi Edition <br />
                  Publisher - Ram Prasad Publication Agra.</li>
                  <li>Unified Zoology For B.Sc II Sem - Hindi edition<br />
                  Publisher - Ram Prasad Publication Agra.</li>
                  <li>Unified Zoology For B.Sc II Sem - English edition<br />
Publisher - Ram Prasad Publication Agra.</li>
                  <li>Unified Zoology For B.Sc III Sem - Hindi edition<br />
Publisher - Ram Prasad Publication Agra.</li>
                  <li>Unified Zoology For B.Sc IV Sem - Hindi edition<br />
Publisher - Ram Prasad Publication Agra.</li>
                </ol>
                <p>Another book for the B.Sc IV Sem is in Writing Process.</p></td>
            </tr>
            <tr>
              <td class="welcome_text"><p><strong>Infrastructure For Zoology</strong></p>
                <ul>
                  <li>Well Equipped laboratory. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (One)</li>
                  <li>Well Equipped Instrumentation lab.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (One)<br />
                  </li>
              </ul></td>
            </tr>
            <tr>
              <td class="welcome_text"><p><strong>Major Equipment</strong></p>
                <ol>
                  <li>Polymerase Chain Reaction  (One)</li>
                  <li>Laminar Air Flow (Two)</li>
                  <li>Shaker Owen (One)</li>
                  <li>Binocular (Research) Microscope (Two)</li>
                  <li>Thermostatic Owen (One)</li>
                  <li>Incubator Owen   (Two)</li>
                  <li>Soil and water analysis kit (One)</li>
                  <li>LCD Projector with Interactive Board (One)</li>
                  <li>Electrophoresis Equipment (One)</li>
                  <li>Compound microscopes</li>
                  <li>Dissecting Microscopes</li>
                  <li>Centrifuge</li>
                  <li>Spectrophotometer</li>
                  <li>Projection Microscope</li>
                  <li>Colory meter</li>
                  <li>Oven</li>
                  <li>Incubator</li>
                  <li>Electrically Operated Monopan Balance </li>
                  <li>Physical Balance</li>
              </ol></td>
            </tr>
            <tr>
              <td class="welcome_text"><p><strong>B.Sc Degree<br />
                </strong>
              Courses Combination with Zoology at undergraduate level </p>
                <ul>
                  <li>Zoology, Botany , Chemistry</li>
                  <li>Zoology, Microbiology, Chemistry</li>
                </ul>
              <p>The Curriculum of Undergraduate level<br />
              Recommended by the central Board of Higher Education Bhopal (M.P.)<br />
                    <br />
                </p>              </td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td style="padding:20px;">&nbsp;</td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>
<div class="foote">
  <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="300"><a href="#" target="_blank" style="color:#FFFFFF; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Powered By e-biz technocrats Pvt. Ltd.</a></td>
      <td align="right"><span id="lastModified"></span>
</td>
    </tr>
  </table>
</div>

    </div>
  </div>
  <p class="act"><b>Active Tab</b>: <span></span></p>
  <p class="prev"><b>Previous Tab</b>: <span></span></p>
</div>

{% endblock content %}
