{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="right_part"><!-- InstanceBeginEditable name="content" -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    
      <tr>
        <td style="padding:20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <center>  <h1 class="welcome">Telephone Directory</h1></center><br>
            </tr>
            <tr>
              <td class="welcome_text">
              <fieldset>
              <legend style="background:#80ffaa ">Hindi Department</legend>
     <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0"><br>
  <tr>
    <td width="30%" height="25">Dr. Smt. Geeta rani Mangal</td>
    <td width="30%" height="25">PROFESSOR</td>
    <td width="30%" height="25">4061471, 9179771898</td>
  </tr>
  <tr>
    <td height="25">Dr. Smt. Jyoti Upadhyay</td>
    <td height="25">PROFESSOR</td>
    <td height="25">2340871, 7879541877</td>
  </tr>
  <tr>
    <td height="25">Dr. Smt. Laxmi Agrawal</td>
    <td height="25">PROFESSOR</td>
    <td height="25">2233396, 9179975249</td>
  </tr>
  <tr>
    <td height="25">Dr. Smt. Beena Gupta</td>
    <td height="25">PROFESSOR</td>
    <td height="25">9425337842</td>
  </tr>
  <tr>
    <td height="25">Dr. Smt. Sushma Sharma</td>
    <td height="25">ASS. PROFESSOR</td>
    <td height="25">9425164159</td>
  </tr>
  <tr>
    <td height="25">Pr. M. K. Khan</td>
    <td height="25">ASS. PROFESSOR</td>
    <td height="25">9425135149</td>
  </tr>
</table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >Economic Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Smt. Bhagwati Acharya</td>
                  <td width="30%" height="25">PROFESSOR</td>
                  <td width="30%" height="25">2239265, 9713722798</td>
                </tr>
                <tr>
                  <td height="25">Dr. K.K. Shrivastav</td>
                  <td height="25">PROFESSOR</td>
                  <td height="25">2239265, 9826264816</td>
                </tr>
                <tr>
                  <td height="25">Dr. Anil Kumar Sharma</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9425117357</td>
                </tr>
                <tr>
                  <td height="25">Dr. Smt. Rajani Mishra</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">3200347, 9827754415</td>
                </tr>
                <tr>
                  <td height="25">Dr. Rajeev Singh Chuhan</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9827389089, 9300942053</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >Political Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Smt. Umasingh sikarwar</td>
                  <td width="30%" height="25">PROFESSOR</td>
                  <td width="30%" height="25">2306676, 9425309723</td>
                </tr>
                <tr>
                  <td height="25">Dr. Smt. Maya Tripathi</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2341622, 9925778428</td>
                </tr>
                <tr>
                  <td height="25">Pr. Mukesh Kumar</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2341622, 9925461345</td>
                </tr>
                <tr>
                  <td height="25">Dr. Ratan Sinha</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9425773812</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >Psychlogy Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Pr. Dr. Smt. Neera Shrivastav</td>
                  <td width="30%" height="25">ASS. PROFESSOR</td>
                  <td width="30%" height="25">9301247767, 9039660848</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >sociology Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Smt. Sadhna Tomar</td>
                  <td width="30%" height="25">ASS. PROFESSOR</td>
                  <td width="30%" height="25">2470290</td>
                </tr>
                <tr>
                  <td height="25">Dr. Rajesh kumar Saxena</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2456880, 9977805952</td>
                </tr>
                <tr>
                  <td height="25">Pr. Smt. Manju singh Veer</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2426083, 9425112083</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >History Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Neeraj Goyal</td>
                  <td width="30%" height="25">ASS. PROFESSOR</td>
                  <td width="30%" height="25">9827646461</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >Sanskrit  Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Poonam Vashney</td>
                  <td width="30%" height="25">ASS. PROFESSOR</td>
                  <td width="30%" height="25">2463800,9425757880</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa " >English  Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. N.S. Niranjan</td>
                  <td width="30%" height="25">ASS. PROFESSOR</td>
                  <td width="30%" height="25">9425113718</td>
                </tr>
                <tr>
                  <td height="25">Dr. Pawan Bareliya</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9425307364</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Geography  Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Pr. Amit Kumar</td>
                  <td width="30%" height="25">ASS. PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">9826240292</td>
                </tr>
                <tr>
                  <td height="25">Dr. A.K. Jha</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9425757110</td>
                </tr>
                <tr>
                  <td height="25">Dr. Vijendra Singh</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9893249795</td>
                </tr>
                <tr>
                  <td height="25">Pr. Poonam Vashnik</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">9575065549</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Home Science   Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Smt. Albha Tiwari</td>
                  <td width="30%" height="25">ASS. PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">2361496, 9406968463</td>
                </tr>
                <tr>
                  <td height="25">Dr. Smt. Aparna Sharma</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2347694,9826257633</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Painting   Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Pr. Smt. Wasanti Joshi</td>
                  <td width="30%" height="25">ASS. PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">2345865, 9425119922</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Voice Music    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Bhagwati</td>
                  <td width="30%" height="25">ASS. PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">2410016, 9329614662</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Instrumental Music    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Sanjeev Bhandari</td>
                  <td width="30%" height="25">ROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">2340199, 9893017534</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Dance    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Bhagwandas Mandik</td>
                  <td width="30%" height="25">PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">4011905, 9826734834</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Chemistry   Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Dr. Smt. Manju Kosik</td>
                  <td width="30%" height="25">PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">2340572, 9425308614</td>
                </tr>
                <tr>
                  <td height="25">Dr. Smt. Renu S Nayar</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2440599, 9425772917</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Vegetation    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="25">Dr. N.P. Saxena </td>
                  <td height="25">PROFESSOR &amp; HEAD</td>
                  <td height="25">2367752, 9826738066</td>
                </tr>
                <tr>
                  <td width="30%" height="25">Dr. G.D. Vyas</td>
                  <td width="30%" height="25">PROFESSOR </td>
                  <td width="30%" height="25">2457013, 9425777844</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Maths    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="25">Dr. A.V. Vinchukar</td>
                  <td height="25">PROFESSOR &amp; HEAD</td>
                  <td height="25">2447918, 9425338336</td>
                </tr>
                <tr>
                  <td width="30%" height="25">Dr. P.C. Jatav</td>
                  <td width="30%" height="25">ASS. PROFESSOR </td>
                  <td width="30%" height="25">9893063627</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Accounting  Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Pr. K.S. Sharma</td>
                  <td width="30%" height="25"> PROFESSOR &amp; HEAD</td>
                  <td width="30%" height="25">4073032, 9893225022</td>
                </tr>
                <tr>
                  <td height="25">Dr. S. K. Shrivastava</td>
                  <td height="25">PROFESSOR</td>
                  <td height="25">9425338782</td>
                </tr>
                <tr>
                  <td height="25">Dr. R.N. Khandelwal</td>
                  <td height="25"> PROFESSOR</td>
                  <td height="25">2463260, 9425119033</td>
                </tr>
                <tr>
                  <td height="25">Dr. P.K. Shirothiya</td>
                  <td height="25">ASS. PROFESSOR</td>
                  <td height="25">2346255, 9827079699</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Library    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="25">Pr. Rakesh Shrivastava</td>
                  <td height="25">ASS.PROFESSOR &amp; HEAD</td>
                  <td height="25">4030782, 9893896706</td>
                </tr>
                <tr>
                  <td width="30%" height="25">Smt. Ashadevi Tomar</td>
                  <td width="30%" height="25">Library PROFESSOR</td>
                  <td width="30%" height="25">6536251, 9779547583</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
            <tr>
              <td class="welcome_text"><fieldset>
              <legend style="background:#80ffaa ">Sport    Department</legend>
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="30%" height="25">Smt. Deepa Varma</td>
                  <td width="30%" height="25">Sport Commissioner</td>
                  <td width="30%" height="25">2463833, 9893117314</td>
                </tr>
              </table>
              </fieldset></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td style="padding:20px;">&nbsp;</td>
      </tr>
    </table>
  <!-- InstanceEndEditable -->
</div>



{% endblock content %}